!!!
%html
  %head
    %title Hubcap
  %body
    %h1 Hubcap
    %h2 A visual recap of your GitHub commits
    %form{:action => "/", :method => "post"}
      %p
        %label{:for => "login"} GitHub login
        %input#login.text{:name => "login", :size => "30"}
      %p
        %label{:for => "token"} GitHub API token
        %input#token.text{:name => "token", :size => "30"}
      %p
        %input#user_submit.submit{:type => "submit", :value => "Cap it!"}
