!!!
%html
  %head
    %title Hubcap
    %link{:type => "text/css", :rel => "stylesheet", :href => "stylesheets/style.css"}
    %script{:type => "text/javascript", :src => "javascripts/protovis-r3.2.js"}

  %body
    %h1 Hubcap
    %h2 A visual recap of your GitHub commits

    %script{:type => "text/javascript", :src => "javascripts/chart.js"}

    %code= @repos.inspect
    